.centerku {
    text-align: center;
}
#boxstart1,#boxstart2,#boxstart3 {
    text-align: center;
}
#myButton1:disabled,#myButton1[disabled]{

    cursor:not-allowed !important;
  }
  
#CopyText:disabled,#CopyText[disabled]{

    cursor:not-allowed !important;
  }

#myButton1,#myButton2,#myButton3 {
    border-radius: 3px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 50px;
    margin: 5px 0;
    text-decoration: none;
    width: max-content;
    background: linear-gradient(90deg, #2441bf 1%, #cccccc 1%);
}

.areaBoxCopy {
    text-align: center;
    margin: 10px 0;
}
#panelCopy {
    background-color: #000000;
    padding: 10px;
    font-size: 15px;
    display: grid;
    border-radius: 20px;
    width: 100%;
    color: white;
    font-weight: bold;
}
.areaButtonCopy {
    text-align: center;
}

.AreaLimitBox {
    padding: 10px;
    display: inline-block;
    background-color: #2ce6c9;
    border-radius: 20px;
    width: 90%;
    box-shadow: 0 0 3px 2px black;
}
#BoxCopyJkoding {
    text-align: center;
    margin-top: 5px;
}
#CopyText {
    font-size: 15px;
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 50px;
    background-color: #c0fb23;
    color: black;
}
#iconCopy {
    margin-right: 5px;
    color: #5013c7;
    font-weight: bold;
}
.ArenaTitleCopy {
    text-align: left;
    margin-left: 10px;
}
.ArenNameFile {
    margin-top: 5px;
    font-size: 14px;
}
#AreaNotifGetLink {
    text-align: right;
    margin-right: 10px;
    margin-bottom: -10px;
}
.none {
display:none;
}
